<ion-header>
<ion-toolbar color="primary">
    <ion-title>About</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
  <ion-card id="about-card">
  <ion-icon name="person-circle-outline"></ion-icon>
  <ion-card-header>
    <ion-card-subtitle>My Fullname</ion-card-subtitle>
    <ion-card-title>Raj Kumar Shahu</ion-card-title>
  </ion-card-header>
  <ion-card-header>
    <ion-card-subtitle>My Student ID</ion-card-subtitle>
    <ion-card-title>300783746</ion-card-title>
  </ion-card-header>
  </ion-card>
  </div>
</ion-content>